::selection {
    background: $purple;
    color: $snow-white;
    overflow: hidden;
  }
  
  html {
      font-size: 62.5%;
      // background: $background;
      
    }
    button{
      font-family: "sofia-pro";
      border: none;
      border-radius: 6px;
      color: $white;
      margin-right: 10px;
      padding: 12px 15px;
      font-size: 1.6rem;
      font-weight: 400;
      &:hover{
        cursor: pointer;
      }
    }
    body {
      font-family: "sofia-pro", "sans-serif";
      button:focus {
        outline: none;
      }
    }
    
    a {
      font-family: "sofia-pro", "sans-serif";
      text-decoration: none;
      font-size: 2.2rem;
      color: inherit;
      user-select: none;
      cursor: pointer;
    }
    
    i {
      font-style: italic;
    }
    
    p {
      font-family: "sofia-pro", "sans-serif";
      font-size: 1.8rem;
    }
    
    b {
      font-weight: bold;
    }
    
    h1 {
      font-family: "sofia-pro", "sans-serif";
      // font-weight: bold;
      font-size: 4.8rem;
    }
    
    h2 {
      font-family: "sofia-pro", "sans-serif";
      // font-weight: bold;
      font-size: 3.8rem;
    }
    
    h3 {
      font-family: "sofia-pro", "sans-serif";
      // font-weight: bold;
      font-size: 2.4rem;
    }
    
    h4 {
      font-family: "sofia-pro", "sans-serif";
      // font-weight: bold;
      font-size: 2.2rem;
    }
    
    h5 {
      font-family: "sofia-pro", "sans-serif";
      // font-weight: bold;
      font-size: 2rem;
    }
    
    h6 {
      font-size: 1.8rem;
      font-weight: 500;
    }
    
    input {
      font-family: "sofia-pro";
      font-size: 1.6rem;
      padding: 10px 15px;
      outline: none;
      height: 35px;
      border-radius: 5px;
      border: none;
  
      &::placeholder{
        font-family: "sofia-pro";
        font-size: 1.6rem;
      }
    }
    
    textarea {
      font-family: "Roboto";
      font-size: 1.6rem;
      padding: 10px 15px;
      margin: 10px 0 0;
      outline: none;
      border-radius: 5px;
      border: 1px solid $mirage;
    }
    
    select {
      font-family: "Roboto";
      font-size: 1.6rem;
      border-radius: 5px;
      border: 1px solid $mirage;
    }
    
    hr {
      width: calc(100% + 20px);
      margin-left: -10px;
      border: none;
      border-top-color: $silver-lining;
      border-top-width: 1px;
      border-top-style: solid;
    }
    
    .display-none {
      display: none;
    }
    
    .react-toggle-track {
      background-color: $dark-purple;
    }
    
    .tab {
      &:hover {
        cursor: pointer;
      }
    }
    
    a svg {
      &:hover {
        color: lighten($purple, 20%);
      }
      &:focus,
      &:active {
        color: darken($purple, 20%);
      }
    }
    
    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    input[type="number"] {
      -moz-appearance: textfield;
    }
    
    li{
        text-decoration: none;
    }
  
  